$Font_Regular		: 'Roboto', Arial, sans-serif;	//normal
$Font_Light 		: 'Armatus Light', Arial, sans-serif;	//200
$Font_Bold 			: 'Armatus Bold', Arial, sans-serif;	//700
$Font_ExtraBold 	: 'Armatus Brand', Arial, sans-serif;  	//900

$container_width: 1200px;
$container_fullwidth :90vw;
$container_smallwidth :900px;
$brand_color : rgba(20,24,66, 1);
$brand_color_2 : rgba(67,72,128, 1);

$nav-scrolled-bg : #fff;
$nav-scrolled-links-color : rgba(20,24,66, 1);

$video_overlay :  linear-gradient(to top,rgba(0,0,0,.0),rgba(0,0,0,0.2));
$image_overlay : linear-gradient(to top,rgba(0,0,0,.0),rgba(0,0,0,0.2));
